.page-container {
  width: 100% !important;
  margin: 0;
  max-width: 100%;
}

.editing-page {
  display: block;
  justify-content: flex-end;
  align-items: center;
  margin-left: 30vw;
  width: 70vw;
  max-width: 70vw !important;
  padding: 0;
}

.page-section {
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
}

.page-section:hover {
  border: 2px solid #6c5ce7;
}

.clicked {
  border: 2px solid #81ecec;
}

.editor-menu {
  position: absolute;
  z-index: 2;
  bottom: 2%;
  right: 1%;
  width: 30%;
}

.secondary-menu {
  position: absolute;
  z-index: 2;
  bottom: 2%;
  right: 32%;
  width: 30%;
}

.toast-header {
  font-size: large;
}

.toast-body {
  font-size: medium;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.center-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.close-button {
  border-radius: 100%;
}

.pr-0 {
  padding-right: 0%;
}

.w-90 {
  width: 90%!important;
}

.w-95 {
  width: 95%!important;
}

.w-100 {
  width: 100%!important;
}

.sketch-picker {
  width: 85%!important;
}